@font-face {
    font-family: 'AkkuratLLWeb-Regular';
    src: url('https://assets.contentful.com/ig8jw6ehfazm/57XhCvFThi1VGqQoGiuiRI/0a7bf52eb6421bb5d385e49b89a91769/AkkuratLLWeb-Regular.woff2');
    format: 'woff2';
}

@font-face {
    font-family: 'AkkuratMonoLLWeb-Regular';
    src: url('https://assets.contentful.com/ig8jw6ehfazm/4PcIoiBlRkWJ5L4mCAwW5j/68ac163ee0117a5827a2bc115548e23d/AkkuratMonoLLWeb-Regular.woff2');
    format: 'woff2';
}